.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background: #fff;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo p {
  color: #383838;
  font-size: 40px;
  font-weight: 700;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 40px;
  color: #252525;
  font-size: 18px;
  flex-wrap: wrap; /* damit sie umbrechen, falls wenig Platz */
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-links li {
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.footer-links li:hover {
  color: #ff4141;
}

.footer-social-icon {
  display: flex;
  gap: 15px;
}

.footer-icons-container {
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon img {
  width: 28px;
  height: 28px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
  color: #1a1a1a;
  font-size: 16px;
  text-align: center;
}

.footer-copyright hr {
  border: none;
  border-radius: 10px;
  height: 2px;
  background: #c7c7c7;
  width: 80%;
}

/* Tablet */
@media (max-width: 1024px) {
  .footer-logo p {
    font-size: 32px;
  }
  .footer-links {
    gap: 20px;
    font-size: 16px;
  }
}

/* Smartphone */
@media (max-width: 600px) {
  .footer {
    gap: 20px;
    align-items: center;
  }

  .footer-logo {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-logo img {
    width: 50px;
  }

  .footer-logo p {
    font-size: 24px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    align-items: center;
  }

  .footer-social-icon img {
    width: 20px;
    height: 20px;
  }

  .footer-copyright {
    font-size: 12px;
    gap: 10px;
  }
}
